<div class="overlay">

<div class="modal">

<h2>Post Food Donation</h2>


<label>Meal Type</label>

<div class="meals">

<button
*ngFor="let meal of mealTypes"
[class.active]="mealType === meal"
(click)="mealType = meal"
>
{{meal}}
</button>

</div>


<div *ngIf="mealType === 'others'">
<input
type="text"
placeholder="Enter meal type"
[(ngModel)]="customMealType"
/>
</div>


<label>Quantity</label>

<input
type="number"
[(ngModel)]="quantity"
placeholder="50"
/>


<label>Food Type</label>

<select [(ngModel)]="foodType">

<option value="">Select</option>

<option
*ngFor="let f of foodTypes"
[value]="f"
>
{{f}}
</option>

</select>


<div *ngIf="foodType === 'others'">
<input
type="text"
placeholder="Enter food type"
[(ngModel)]="customFoodType"
/>
</div>


<label>Location</label>

<button
class="detect-btn"
(click)="detectLocation()"
>

📍 Detect Location

</button>


<div *ngIf="locationDetected" class="location-success">
Location detected successfully
</div>


<button
class="submit"
(click)="submit()"
>

Post Donation

</button>


<button
class="close"
(click)="close.emit()"
>

Close

</button>


</div>

</div>